/* footer */
.footer {
    background-color: white;
    display: flex;
    justify-content: center;
    color: #4c4c4c;
}

/* footer-item */
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item a {
    text-decoration: none;
    color: #4c4c4c;
}

.footer-item a:hover {
    color: #fc891b;
}

/* footer-img */
.footer-img {
    display: flex;
    align-items: center;
}

/* 1920px width setting */
@media (max-width: 1920px) {
    .footer {
        padding: 2%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
    }

    .footer-img {
        padding-right: 5%;
    }
}