/* footer */
.footer {
    background-color: white;
    display: flex;
    justify-content: center;
    color: #4c4c4c;
}

/* footer-item */
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item a {
    text-decoration: none;
    color: #4c4c4c;
}

.footer-item a:hover {
    color: #fc891b;
}

/* footer-img */
.footer-img {
    display: flex;
    align-items: center;
}

/* 768-1280 px width settings */
@media (min-width: 768px) and (max-width: 1280px) {
    .footer {
        padding: 1%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
    }

    .footer img {
        width: 15%;
        height: auto;
    }
}

/* 1281-1366 px width settings */
@media (min-width: 1281px) and (max-width: 1366px) {
    .footer {
        padding: 1%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
        font-size: 100%;
    }

    .footer img {
        width: 15%;
        height: auto;
    }
}

/* 1367-1536 px width settings */
@media (min-width: 1367px) and (max-width: 1536px) {
    .footer {
        padding: 1%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
        font-size: 140%;
    }

    .footer img {
        width: 15%;
        height: auto;
    }
}

/* 1537-1920 px width settings */
@media (min-width: 1537px) and (max-width: 1920px) {
    .footer {
        padding: 1%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
        font-size: 140%;
    }

    .footer img {
        width: 15%;
        height: auto;
    }
}

/* 1921-2560 px width settings */
@media (min-width: 1921px) and (max-width: 2560px) {
    .footer {
        padding: 1%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
        font-size: 170%;
    }

    .footer img {
        width: 15%;
        height: auto;
    }
}

/* 2561-3840 px width settings */
@media (min-width: 2561px) and (max-width: 3840px) {
    .footer {
        padding: 2%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
        font-size: 250%;
    }

    .footer img {
        width: 15%;
        height: auto;
    }
}

/*  >= 3841px width settings */
@media (min-width: 3841px) {
    .footer {
        padding: 2%;
    }

    .footer-item {
        margin: 2%;
    }

    .footer-item a {
        padding: 5%;
        font-size: 350%;
    }

    .footer img {
        width: 10%;
        height: auto;
    }
}