/* header */
.header {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
}

.header a:hover {
    color: #fc891b;
}

.header-img {
    display: flex;
    align-items: center;
}

/* menu-items */
.menu-items {
    display: flex;
    align-items: center;
}

.menu-items a {
    text-decoration: none;
    color: #4c4c4c;
}

/* 1920px width settings */
@media (max-width: 1920px) {
    .header {
        padding: 1%;
    }

    .header img {
        width: 100%;
        height: auto;
    }

    .menu-items {
        width: 37%;
    }

    .menu-items a {
        padding: 5%;
        font-size: 120%;
    }
}

/* 1536px width settings */
@media (max-width: 1536px) {
    .header {
        padding: 1%;
    }

    .header img {
        width: 100%;
        height: auto;
    }

    .menu-items {
        width: 55%;
    }

    .menu-items a {
        font-size: 120%;
    }
}

/* 1366px width settings */
@media (max-width: 1366px) {
    .header {
        padding: 1%;
    }

    .header img {
        width: 100%;
        height: auto;
    }

    .menu-items {
        width: 50%;
    }

    .menu-items a {
        font-size: 120%;
    }
}