/* header */
.header {
    background-color: rgba(255, 255, 255, 1);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
}

.header a:hover {
    color: #fc891b;
}

/* menu-items */
.menu-items {
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu-items a {
    text-decoration: none;
    color: #4c4c4c;
}

/* 768-1280 px width settings */
@media (min-width: 768px) and (max-width: 1280px) {
    .header {
        padding: 1%;
    }

    .header img {
        width: 100%;
        height: auto;
    }

    .menu-items {
        width: 60%;
    }

    .menu-items a {
        font-size: 120%;
        padding: 0 3% 0 3%;
    }
}

/* 1281-1920 px width settings */
@media (min-width: 1281px) and (max-width: 1920px) {
    .header {
        padding: 1%;
    }

    .header img {
        width: 120%;
        height: auto;
    }

    .menu-items {
        width: 55%;
    }

    .menu-items a {
        padding: 0 5% 0 5%;
        font-size: 140%;
    }
}

/* 1921-2560 px width settings */
@media (min-width: 1921px) and (max-width: 2560px) {
    .header {
        padding: 1.5%;
    }

    .header img {
        width: 150%;
        height: auto;
    }

    .menu-items {
        width: 50%;
    }

    .menu-items a {
        font-size: 200%;
        padding: 0 3% 0 3%;
    }
}

/* 2561-3840 px width settings */
@media (min-width: 2561px) and (max-width: 3840px) {
    .header {
        padding: 1.5%;
    }

    .header img {
        width: 200%;
        height: auto;
    }

    .menu-items {
        width: 50%;
    }

    .menu-items a {
        font-size: 250%;
        padding: 0 3% 0 3%;
    }
}

/*  >= 3841px width settings */
@media (min-width: 3841px) {
    .header {
        padding: 2%;
    }

    .header img {
        width: 200%;
        height: auto;
    }

    .menu-items {
        width: 50%;
    }

    .menu-items a {
        font-size: 350%;
        padding: 0 3% 0 3%;
    }
}