html {
    scroll-behavior: smooth;
}

body {
    background-color: #fc891b;
    margin: 0;
    font-family: 'Helvetica';
}

.container {
    overflow-y: scroll;
    height: 100vh;
}

section {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.box1 {
    background-color: #4c4c4c;
    display: flex;
}

.box1-item {
    color: whitesmoke;
}

.box1-item:hover {
    color: #fc891b;
}

.box2 {
    display: flex;
    justify-content: space-around;
}

.box2-item {
    display: flexbox;
    background-color: whitesmoke;
    border-radius: 20%;
    text-align: center;
    border-color: #4c4c4c;
}

.box2-title {
    display: flex;
    justify-content: center;
}

hr {
    background-color: #4c4c4c;
    border-color: #4c4c4c;
}

.box2-info {
    display: grid;
}

.box2-info a {
    text-decoration: none;
    color: #4c4c4c;
}

.box2-info a:hover {
    color: #fc891b;
}

.box3 {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

/* 768-1280 px width settings */
@media (min-width: 768px) and (max-width: 1280px) {
}

/* 1281-1920 px width settings */
@media (min-width: 1281px) and (max-width: 1920px) {
}

/* 1921-2560 px width settings */
@media (min-width: 1921px) and (max-width: 2560px) {
}

/* 2561-3840 px width settings */
@media (min-width: 2561px) and (max-width: 3840px) {
}

/*  >= 3841px width settings */
@media (min-width: 3841px) {
    .box1-item {
        font-size: 10em;
    }

    .box2-item {
        padding: 2%;
    }

    .box2-item img {
        width: 10%;
        height: auto;
    }

    .box2-title span {
        font-size: 3em;
        padding: 3%;
    }

    .box2-info {
        font-size: 3em;
        padding-top: 10%;
        padding-bottom: 15%;
    }

    .box3-item img {
        width: 80%;
        height: 80%;
        padding: 5%;
    }
}