body {
    background-color: #fc891b;
    margin: 0;
    font-family: 'Helvetica';
}

* {
    box-sizing: content-box;
  }

.header {
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
}

.header a {
    text-decoration: none;
    color: #4c4c4c;
    padding: 15px;
}

.header a:hover {
    color: #fc891b;
}

.menu-items {
    padding: 25px;
}

.box1 {
    background-color: #4c4c4c;
    margin-top: 70px;
    padding: 80px 0 80px 0;
}

.box1-item {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 50px;
}

.box1-item:hover {
    color: #fc891b;
}

.box2 {
    display: flex;
    justify-content: space-around;
}

.box2-item {
    display: flexbox;
    background-color: whitesmoke;
    width: 300px;
    height: 250px;
    margin: 50px;
    border-radius: 20%;
    text-align: center;
}

.box2-title {
    margin-top: 40px;
}

.box2-title span {
    padding: 10px;
    font-size: 20px;
}

.box2-title img {
    width: 50px;
    height: 50px;
}

.box2-info {
    display: grid;
    margin-top: 20px;
    padding: 5px;
}

.box2-info span {
    padding: 5px;
}

.box2-info a {
    text-decoration: none;
    color: #4c4c4c;
}

.box2-info a:hover {
    color: #fc891b;
}

.box3 {
    background-color: whitesmoke;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.box3-item {
    margin: 20px;
}