/* General */
html {
    scroll-behavior: smooth;
} 

body {
    background-color: #fc891b;
    margin: 0;
    font-family: 'Helvetica';
}

* {
    box-sizing: content-box;
}

h1 {
    color: #4c4c4c;
}

p {
    color: #4c4c4c;
}

/* section */
section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* profession */
.profession {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

/* description */
.description {
    background-color: whitesmoke;
    display: flex;
}

/* wrap */
.wrap {
    display: flex;
    flex-direction: column;
}

/* button */
.button {
    text-decoration: none;
    background-color: #fc891b;
    color: white;
    text-align: center;
    font-weight: bold;
}

/* 768-1280 px width settings */
@media (min-width: 768px) and (max-width: 1280px) {
    .profession {
        font-size: 4.5em;
    }

    .description img {
        width: 200%;
        height: auto;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        padding: 0 5% 0 0;
    }

    .button {
        padding: 1.5%;
        font-size: 1em;
        margin-right: 5%;
    }
}

/* 1281-1920 px width settings */
@media (min-width: 1281px) and (max-width: 1920px) {
    .profession {
        font-size: 6em;
    }

    .description img {
        width: 200%;
        height: auto;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.5em;
        padding: 0 5% 0 0;
    }

    .button {
        padding: 1.5%;
        font-size: 1.5em;
        margin-right: 5%;
    }
}

/* 1921-2560 px width settings */
@media (min-width: 1921px) and (max-width: 2560px) {
    .profession {
        font-size: 8em;
    }

    .description img {
        width: 200%;
        height: auto;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 2em;
        padding: 0 5% 0 0;
    }

    .button {
        padding: 1.5%;
        font-size: 2em;
        margin-right: 5%;
    }
}

/* 2561-3840 px width settings */
@media (min-width: 2561px) and (max-width: 3840px) {
    .profession {
        font-size: 10em;
    }

    .description img {
        width: 200%;
        height: auto;
    }

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 3em;
        padding: 0 5% 0 0;
    }

    .button {
        padding: 1.5%;
        font-size: 3em;
        margin-right: 5%;
    }
}

/*  >= 3841px width settings */
@media (min-width: 3841px) {
    .profession {
        font-size: 10em;
    }

    .description img {
        width: 200%;
        height: auto;
    }

    h1 {
        font-size: 5em;
    }

    p {
        font-size: 3em;
        padding: 0 5% 0 0;
    }

    .button {
        padding: 1.5%;
        font-size: 3em;
        margin-right: 5%;
    }
}