body {
    background-color: #fc891b;
    margin: 0;
    font-family: 'Helvetica';
    color: #4c4c4c;
}

* {
    box-sizing: content-box;
  }

.box1 {
    margin-top: 94px;
    padding: 30px;
    display: flex;
    background-color: #4c4c4c;
    align-items: center;
    
}

.vertical-line {
    border-left: 4px solid white;
    height: 75px; 
    margin: 0 auto;
}

.profession-box1 {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 0 200px 0 200px;
}

.box2 {
    display: flex;
    background-color: white;
    padding-bottom: 22px;
}

.box2 img {
    background-color: #fc891b;
    border-radius: 50%;
    padding-top: 10px;
    margin: 15px;
    height: 400px;
}

.description {
    margin: 30px;
}

.description h2 {
    font-weight: bold;
    font-size: 40px;
    padding: 20px 0 20px 0;
}

.description p {
    margin: 30px 40px 10px 0;
}

.box3 {
    display: flex;
    background-color: #4c4c4c;
    align-items: center;
}

.profession-box2 {
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 55px 100px 55px 100px;
}

.box4 {
    display: flex;
    background-color: white;
    padding-bottom: 40px;
}

.box4 img {
    background-color: #fc891b;
    border-radius: 50%;
    height: 400px; 
    padding-top: 10px;
    margin: 15px;  
}

h2 {
    margin-bottom: 0;
    padding: 0;
}

h4 {
    margin: 0 0 5px 0;
}